$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #ffffff;
$accent-color               : #95C623;
$secondary-color            : #FFD23F;
$text-color                 : #222827;
$muted-text-color           : #8898A7;
$background-color           : #00b09b;

$custom-google-font         : 'Barlow', sans-serif;
$item-border-radius         : 8px;

$item-media-size            : 90px;
$list-item-height           : 30px;
$button-height              : 44px;